<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="http://yle.fi/global/api/load.php?version=5&modules=css/headerfooter">
  <title>{{keyword}}</title>
</head>

<body>
  {% autoescape false %}{{header}}{% endautoescape %}
  <div class="container">
    <h1 class="keyword">{{keyword}}</h1> {% if !results.length %}
    <h2>Sisältöä ei löytynyt asiasanalla {{keyword}}</h2> {% endif %}{% for result in results %}
    <div class="result row">
      <div class="col-md-3">
        <a href="{{result.url}}"><img alt="{{result.originalTitle || result.title}}" class="img-responsive" src="{{result.image}}" /></a>
      </div>
      <div class="col-md-9">
        <div>{{result.categories.join(' > ')}}</div>
        <a href="{{result.url}}"><h2>{{result.originalTitle || result.title}}</h2></a>
        <div>{{result.date}} | {{result.authors.join(', ')}}</div>
        <div>{% autoescape false %}{{result.originalDescription || result.summary}}{% endautoescape %}</div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% autoescape false %}{{footer}}{% endautoescape %}
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>
