.container {
	margin-top: 50px;
}

.result {
	margin-bottom: 50px;
}

.result h2 {
	margin-top: 0;
	line-height: 30px;
}

.keyword {
	text-align: center;
	font-size: 42px;
	text-transform: capitalize;
}